<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8" />
    <title> Crystals Healing Vibes || Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta content="Admin template that can be used to build dashboards for CRM, CMS, etc." name="description" />
    <meta content="Potenz Global Solutions" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- app favicon -->
    <link rel="shortcut icon" href="/media/favicon.png">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <!-- plugin stylesheets -->
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors.css" />
    <!-- app style -->
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body class="light-sidebar">
    <!-- begin app -->
    <div class="app">
        <!-- begin app-wrap -->
        <div class="app-wrap">
            <!-- begin pre-loader -->
            <div class="loader">
                <div class="h-100 d-flex justify-content-center">
                    <div class="align-self-center">
                        <img src="/assets/img/loader/loader.svg" alt="loader">
                    </div>
                </div>
            </div>
            <!-- end pre-loader -->
             <!-- begin app-container -->
             <div class="app-container">
              <!-- begin app-nabar -->

    @include('layouts.admin-sidebar') 

    @!section('content')        

    @include('layouts.admin-footer')  

  </div>
  <!-- Back To Top Start -->
  <button class="scrollToTopBtn"><i class="fa fa-arrow-up"></i></button>

  <!-- Jquery Js -->
  <script src="/js/vendor/bootstrap.min.js"></script>
  <script src="/js/vendor/jquery-3.6.3.min.js"></script>
  <script src="/js/vendor/slick.min.js"></script>
  <script src="/js/vendor/jquery-validator.js"></script>
  <script src="/js/vendor/wow/wow.js"></script>
  <script src="/js/vendor/calendar/picker.js"></script>
  <script src="/js/vendor/calendar/picker.date.js"></script>
  <script src="/js/vendor/jquery.timepicker.min.js"></script>
  <script src="/js/date.js"></script>
  <script src="/js/app.js"></script>

</body>
</html>
