<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="CrystalsHealingVibes">

  <title>Crystals Healing Vibes</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/media/favicon.png">

  <!-- All CSS files -->

  <link rel="stylesheet" href="/css/vendor/font-awesome.css">
  <link rel="stylesheet" href="/css/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="/css/vendor/slick.css">
  <link rel="stylesheet" href="/css/vendor/slick-theme.css">
  <link rel="stylesheet" href="/css/vendor/animate/animate.min.css">
  <link rel="stylesheet" href="/css/vendor/datetime.css">
  <link rel="stylesheet" href="/css/vendor/calendar/classic.date.css">
  <link rel="stylesheet" href="/css/vendor/calendar/classic.css">
  <link rel="stylesheet" href="/css/vendor/jquery.timepicker.min.css">
  <link rel="stylesheet" href="/css/app.css">

</head>

<body class="tt-smooth-scroll">

  <!-- Preloader Start -->
  <div id="preloader">
    <div class="">
      <svg class="star" x="0px" y="0px" width="96px" height="96px" viewBox="0 0 66 66"
        enable-background="new 0 0 66 66">
        <defs>
          <path id="loader-star2" d="M31.75,30.5L33,0.5l1.25,30l1.25,1.25l30,1.25l-30,1.25l-1.25,1.25L33,65.5l-1.25-30l-1.25-1.25L0.5,33l30-1.25L31.75,30.5z
      " />
        </defs>
        <g class="large">
          <g class="large-1">
            <use xlink:href="#loader-star" />
          </g>
          <g class="large-2">
            <use xlink:href="#loader-star" />
          </g>
        </g>
        <g class="small">
          <g class="small-1">
            <use xlink:href="#loader-star" />
          </g>
        </g>
      </svg>
      <svg class="star star-1" x="0px" y="0px" width="96px" height="96px" viewBox="0 0 66 66"
        enable-background="new 0 0 66 66">
        <defs>
          <path id="loader-star1" d="M31.75,30.5L33,0.5l1.25,30l1.25,1.25l30,1.25l-30,1.25l-1.25,1.25L33,65.5l-1.25-30l-1.25-1.25L0.5,33l30-1.25L31.75,30.5z
      " />
        </defs>
        <g class="large">
          <g class="large-1">
            <use xlink:href="#loader-star" />
          </g>
          <g class="large-2">
            <use xlink:href="#loader-star" />
          </g>
        </g>
        <g class="small">
          <g class="small-1">
            <use xlink:href="#loader-star" />
          </g>
        </g>
      </svg>
      <svg class="star star-2" x="0px" y="0px" width="126px" height="126px" viewBox="0 0 66 66"
        enable-background="new 0 0 66 66">
        <defs>
          <path id="loader-star" d="M31.75,30.5L33,0.5l1.25,30l1.25,1.25l30,1.25l-30,1.25l-1.25,1.25L33,65.5l-1.25-30l-1.25-1.25L0.5,33l30-1.25L31.75,30.5z
      " />
        </defs>
        <g class="large">
          <g class="large-1">
            <use xlink:href="#loader-star" />
          </g>
          <g class="large-2">
            <use xlink:href="#loader-star" />
          </g>
        </g>
        <g class="small">
          <g class="small-1">
            <use xlink:href="#loader-star" />
          </g>
        </g>
      </svg>
    </div>
  </div>
  <!-- Preloader End -->

  <!-- Main Wrapper Start -->
  <div id="scroll-container">

    @include('layouts.header') 

    @!section('content')        

    @include('layouts.footer')  

  </div>
  <!-- Back To Top Start -->
  <button class="scrollToTopBtn"><i class="fa fa-arrow-up"></i></button>

  <!-- Jquery Js -->
  <script src="/js/vendor/bootstrap.min.js"></script>
  <script src="/js/vendor/jquery-3.6.3.min.js"></script>
  <script src="/js/vendor/slick.min.js"></script>
  <script src="/js/vendor/jquery-validator.js"></script>
  <script src="/js/vendor/wow/wow.js"></script>
  <script src="/js/vendor/calendar/picker.js"></script>
  <script src="/js/vendor/calendar/picker.date.js"></script>
  <script src="/js/vendor/jquery.timepicker.min.js"></script>
  <script src="/js/date.js"></script>
  <script src="/js/app.js"></script>

</body>
</html>
